<!-- Index -->
{{ define "index" }}
<!doctype html>
<html lang="en">

<head>
  {{template "head_content"}}
  <title>Hello Go!</title>
</head>

<body>
  <!-- Include Header -->
  {{ template "header" }}
  <!-- Include main -->
  {{ template "main" }}
</body>

</html>
{{end}}

<!-- Head Content -->
{{ define "head_content" }}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/public/css/tailwind.css?a" />
<script src="/public/htmx.min.js"></script>
<script src="/public/main.js?b"></script>
{{end}}

<!-- Header -->
{{ define "header" }}
<header class="bg-red-50 px-8 py-4">
  <h1 class="text-3xl">Can you make it?</h1>
</header>
{{ end }}

<!-- MAIN -->
{{ define "main" }}
<main class="p-8">
  <h2 class="text-xl">Your upcoming events!</h2>
  <p>Events go here...</p>
  <h2 class="text-xl">Create a new Event!</h2>
  {{ template "form_new_meeting" }}
</main>
{{ end }}

<!-- New Meeting Form -->
{{ define "form_new_meeting" }}
<form>
  <div class="flex min-w-min flex-grow gap-4 p-4">
    <div class="w-full">
      <div>
        <label class="block"> Event Title </label>
        <input type="text" />
      </div>
      <div>
        <label class="block"> Event Description (Optional) </label>
        <textarea></textarea>
      </div>
    </div>
    <div class="w-full">
      <label class="block"> Dates & Times </label>
      <small>New line for each time</small>
      <textarea id="datetimes-textarea" placeholder="yyyy-MM-dd, HH:mm"></textarea>
    </div>
    <div class="w-full">
      <label class="block"> Select Dates & Times </label>
      <input id="date-picker" type="date" />
      <input id="time-picker" type="time" />
      <button type="button" class="rounded bg-blue-400 px-4 py-2" onclick="addDate()">Add Date</button>
    </div>
  </div>
  <button type="submit" class="rounded bg-gray-400 p-4">Create Event</button>
</form>
{{ end }}
