@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    color: #222;
  }

  input[type="text"] {
    border: solid 1px #ccc;
    border-radius: 3px;
    background: #fff;
    height: 40px;
    padding: 8px 12px;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 100%;
  }

  textarea {
    border: solid 1px #ccc;
    border-radius: 3px;
    background: #fff;
    height: 200px;
    padding: 8px 12px;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 100%;
  }
}
